.jumbotron {
  text-align: center;
  background: none;
}

.sectionLight {
  background-color: #eceeef;
  padding: 2rem;
}

.sectionDark {
  background-color: #cccccc;
  padding: 2rem;
}

.coolStuffWrapper {
  margin-top: 20px;
}

button.coolStuffBtn {
  background-color: red;
  color: #fff;
  display: block;
  margin: auto;
}

h5.modal-title {
  margin: auto;
}

.modalFormWrapper {
  padding: 2rem;
}

.imgCenter {
  display: block;
  margin: auto;
}

.btnCenter {
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

.footerBg {
  background-color: #16cde6;
}

.footerImg {
  padding: 15px;
}

.fab {
  margin: 10px;
  text-decoration-style: none;
}

.fa-facebook-f {
  color: #3b5998;
}

.fa-google-plus-square {
  color: #c32f10;
}

.fa-instagram {
  color: #fff;
}

.socialWrapper {
  margin: auto;
}

a {
  text-decoration: none;
}

/*#212529*/
